<h1>MentorSubcats#new</h1>
<div class="">
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <% category.subcategories.each do |subcat| %>
      <input type="checkbox" value="<%= subcat.name %>"/> <%= subcat.name %>
    <% end %>
  <% end %>
</div>
